In [11]:
import pandas as pd
import numpy as np
from glob import glob
import os

In [12]:
folders = [
    r"C:/Users/PORTABLE/Desktop/projet_annuel/notebooks/data/landmarks/raw_data/data-btc/plank",
    r"C:/Users/PORTABLE/Desktop/projet_annuel/notebooks/data/landmarks/raw_data/data-crawl/plank",
    r"C:/Users/PORTABLE/Desktop/projet_annuel/notebooks/data/landmarks/test/plank",
    r"C:/Users/PORTABLE/Desktop/projet_annuel/notebooks/data/landmarks/verified_data/data_btc_10s/plank",
    r"C:/Users/PORTABLE/Desktop/projet_annuel/notebooks/data/landmarks/verified_data/data_crawl_10s/plank"
]

all_files = []
for folder in folders:
    all_files.extend(glob(f"{folder}/*.csv"))

print(f"Total CSV trouvés : {len(all_files)}")

Total CSV trouvés : 178

In [13]:
all_dfs = []
for f in all_files:
    df = pd.read_csv(f)
    all_dfs.append(df)

plank_dataset = pd.concat(all_dfs, ignore_index=True)
print("Dataset concaténé :", plank_dataset.shape)
plank_dataset.head()

Dataset concaténé : (83841, 133)

,x0,y0,z0,v0,x1,y1,z1,v1,x2,y2,...,v30,x31,y31,z31,v31,x32,y32,z32,v32,label
0,0.267339,0.504023,0.040527,0.999896,0.249284,0.502311,0.008594,0.999914,0.248117,0.502047,...,0.598243,0.848198,0.578350,-0.096184,0.889447,0.828628,0.543498,0.153212,0.680627,plank
1,0.265871,0.508411,0.038175,0.999868,0.248126,0.505198,0.002878,0.999894,0.247058,0.503826,...,0.589094,0.850301,0.578434,-0.032562,0.884606,0.828721,0.543350,0.162343,0.665841,plank
2,0.265426,0.508794,0.038925,0.999855,0.247311,0.505350,0.002991,0.999885,0.246261,0.503895,...,0.583491,0.850416,0.578414,-0.039282,0.881910,0.828781,0.543224,0.161413,0.656669,plank
3,0.262607,0.509922,0.037267,0.999844,0.244755,0.506250,0.001522,0.999877,0.243795,0.504730,...,0.579221,0.849350,0.578498,-0.025071,0.878695,0.827977,0.543863,0.155390,0.649014,plank
4,0.258273,0.508841,0.040968,0.999841,0.240522,0.505260,0.004904,0.999876,0.239571,0.503746,...,0.574405,0.848932,0.579918,-0.040144,0.876398,0.826904,0.543903,0.172202,0.640788,plank

In [16]:
keypoints = [11, 12, 23, 24, 25, 26, 27, 28]
lm_cols = []
for idx in keypoints:
    for coord in ["x", "y", "z", "v"]:
        lm_cols.append(f"{coord}{idx}")

# Ajouter la colonne label
lm_cols.append("label")
plank_dataset = plank_dataset[lm_cols]
print("Colonnes conservées :", plank_dataset.columns)

Colonnes conservées : Index(['x11', 'y11', 'z11', 'v11', 'x12', 'y12', 'z12', 'v12', 'x23', 'y23',
       'z23', 'v23', 'x24', 'y24', 'z24', 'v24', 'x25', 'y25', 'z25', 'v25',
       'x26', 'y26', 'z26', 'v26', 'x27', 'y27', 'z27', 'v27', 'x28', 'y28',
       'z28', 'v28', 'label'],
      dtype='object')

In [17]:
os.makedirs("plank_model/data", exist_ok=True)
plank_dataset.to_csv("plank_model/data/plank_dataset.csv", index=False)

print("Dataset sauvegardé → plank_model/data/plank_dataset.csv")
print("Shape :", plank_dataset.shape)

Dataset sauvegardé → plank_model/data/plank_dataset.csv
Shape : (83841, 33)

In [6]:
df = pd.read_csv("plank_model/data/plank_dataset.csv")
print(df.columns)
print(df.iloc[0,0])

Index(['x0', 'y0', 'z0', 'v0', 'x1', 'y1', 'z1', 'v1', 'x2', 'y2',
       ...
       'v30', 'x31', 'y31', 'z31', 'v31', 'x32', 'y32', 'z32', 'v32', 'label'],
      dtype='object', length=133)
0.2673393487930298