In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(r"C:\Users\caovi\OneDrive\Desktop\projet annuel\core\plank_model\data\plank_dataset.csv")

print("CSV chargé :", df.shape)
df.head()

CSV chargé : (83841, 33)

,x11,y11,z11,v11,x12,y12,z12,v12,x23,y23,...,v26,x27,y27,z27,v27,x28,y28,z28,v28,label
0,0.317148,0.461953,-0.134760,0.999825,0.332048,0.338997,0.185650,0.997446,0.545321,0.401339,...,0.439008,0.859653,0.470633,-0.044691,0.911479,0.835160,0.445993,0.180187,0.559093,plank
1,0.315406,0.463519,-0.156433,0.999814,0.327672,0.337890,0.174033,0.997247,0.546712,0.400396,...,0.430266,0.859698,0.470600,0.008725,0.908360,0.834063,0.446279,0.190237,0.545444,plank
2,0.313831,0.464548,-0.152110,0.999807,0.325627,0.337442,0.175045,0.997073,0.546704,0.400315,...,0.423276,0.859251,0.470240,0.002649,0.906508,0.831497,0.446293,0.189228,0.535803,plank
3,0.311194,0.467364,-0.151091,0.999805,0.322041,0.336440,0.174384,0.997023,0.546596,0.400539,...,0.419055,0.859207,0.470871,0.014809,0.904337,0.831599,0.448254,0.184471,0.528494,plank
4,0.307500,0.467490,-0.149579,0.999806,0.321122,0.335453,0.182908,0.996906,0.545540,0.402757,...,0.412295,0.859201,0.470867,0.003596,0.902722,0.830839,0.448442,0.197407,0.519550,plank

In [9]:
lm_cols = [c for c in df.columns if c != "label"]

# Conversion en float32 pour éviter les MemoryError
df[lm_cols] = df[lm_cols].astype(np.float32)

# Sauvegarde du dataset nettoyé
df.to_csv("plank_model/data/plank_dataset.csv", index=False)

print("plank_dataset.csv sauvegardé :", df.shape)

plank_dataset.csv sauvegardé : (83841, 33)